<template>
<div>
  <div class="my-option-box" v-html="questionText" id="question-text-box">
    {{questionText}}
  </div>

  <four-question-box
    :correctAnswer="correct"
    :incorrectAnswers="incorrect"
    :type="type"
    @alternative-clicked = "handleSelection"
    />
</div>
  
</template>

<script>

import FourQuestionBox from "../components/FourQuestionBox.vue"
import { fetchData } from "../components/CategoriesAPI.js"

export default {
  name: 'Questions',
  components: {
    FourQuestionBox
  },

  async mounted() {
    try {
      // categories, difficulty and number for the API-call
      const cat = localStorage.getItem("selectedCategory")
      const dif = localStorage.getItem("selectedDifficulty")
      this.num = localStorage.getItem("selectedNumber")
      this.questions = await fetchData(cat, dif, this.num);
      console.log(this.questions);
    } catch(error) {console.log(error.message);}

    // stores the recieved questions in localStorage
    localStorage.setItem("myQuestions", JSON.stringify(this.questions));
    console.log(this.questions); 

    this.correct = this.questions[this.qIndex].correct_answer;
    this.incorrect = this.questions[this.qIndex].incorrect_answers;
    this.type = this.questions[this.qIndex].type;
    this.questionText = this.questions[this.qIndex].question;

    this.answeredList = [];
  },

  data() {
    return {
      qIndex: 0,
      num: 0,
      correct: "",
      incorrect: [],
      type: "",
      questionText: "",
      correctAnswers: 0,
      answeredList: []
    }
  },

  methods: {
    handleSelection(alternativeClicked) {
      // if correct answer
      if (alternativeClicked == this.correct) {
        this.correctAnswers++;
      } else { // incorrect answer
        
      }

      // insert answers into a list for the result-screen
      const answObject = []
      answObject.push(this.questionText);
      answObject.push(this.correct);
      answObject.push(alternativeClicked);
      this.answeredList.push(answObject);

      // if this is the last question
      if (this.qIndex == this.num-1) {
        localStorage.setItem("myResults", JSON.stringify(this.correctAnswers));
        localStorage.setItem("myAnswers", JSON.stringify(this.answeredList));
        this.$router.push("/Results");
        return;
      }


      // update questions
      this.qIndex++;
      this.correct = this.questions[this.qIndex].correct_answer;
      this.incorrect = this.questions[this.qIndex].incorrect_answers;
      this.type = this.questions[this.qIndex].type;
      this.questionText = this.questions[this.qIndex].question;
    }
  }
}

</script>

<style>
  .container {
    display:flex;
    justify-content: center;
  }

  #question-text-box {
    height: 250px;
  }
  
</style>