<template>
  <div class="results">
    <!-- <img alt="Vue logo" src="../assets/spongebob.png"> -->
    <h1>Your score is: {{score}}</h1>
      <div v-for="answer in results" :key="answer[0]">
        <p id="question-holder">
          Question: <span v-html="answer[0]"></span><br>
          Correct answer: <span v-html="answer[1]"></span><br>
          Your Answer: <span v-html="answer[2]"></span>
        </p>
    </div>

    <div>
      <button @click="moveToStart" class="teeth">Back to Start </button>
      <button @click="replay" class="teeth">Replay</button>
    </div>
  </div>
</template>

<script>


export default {
  name: 'Results',

  created() {
    // myResults is the score
    const myScore = localStorage.getItem("myResults");
    this.score = myScore*10;

    // myAnswers is the list of questions + answers given + correct answer
    this.results = JSON.parse(localStorage.getItem("myAnswers"));
    console.log(this.results);
  },

  data() {
    return {
      score: 0,
      results: [],
      question: String,
      myAnswer: String,
      correctAnswer: String
    } 
  },

  methods: {
    // return to start screen / replay the game
    moveToStart() {
      this.$router.push("/Start");
    },
    replay() {
      this.$router.push("/Questions");
    }
  }
}
</script>

<style scoped>
  #question-holder {
    margin-left:10%;
    align-content: center;
    background:#4062bb;
    color:white;
    width:80%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:5px 5px 0px 5px;
    border-radius: 25px;
  }

  .teeth {
    display:inline;
    height:140px;
    width: 120px;
    margin-left:10px;
    margin-right:10px;
    border-radius: 0 0 20px 20px;
  }
</style>