<template>
  <div class="Start">
    <h1>THE GAME</h1>

    <Dropdown v-bind:options="categories" :selectText="categoryText" id="my-category-box"/>
    <Dropdown v-bind:options="difficultyOptions" :selectText="difficultyText" id="my-difficulty-box"/>
    <Dropdown v-bind:options="noQuestionsOptions" :selectText="noQuestionsText" id="my-number-box"/>
    
    <div class="my-option-box"  >
      <!-- on click "start the game" -> move to question-phase -->
      <button @click="moveToQuestions"  id="play-button">Start the game!</button>
    </div>

  </div>
</template>

<script>
  import Dropdown from '../components/Dropdown.vue'
  // import { fetchData, fetchCategories} from "../components/CategoriesAPI.js"
  import { MOCK_CATEGORIES } from "../mocks/categories.mock"

  export default {
    created() {
      this.categories = MOCK_CATEGORIES.trivia_categories;
      // fetchCategories,
    },

    name: "Start",

    // data is private for each component
    data: () => ({

      fromAPI: [],
      error: "",
     
      categoryText: "Select a category",
      categoryID: 0,
      categoryOptions: [],

      difficultyText: "Select a difficulty",
      difficultyOptions: [
            {name:"easy", id: 1},
            {name:"medium", id: 2},
            {name:"hard", id: 3}],

      noQuestionsText: "Select number of questions",
      noQuestionsOptions: [
        {name:"1", id:1},
        {name:"2", id:2},
        {name:"3", id:3},
        {name:"4", id:4},
        {name:"5", id:5}
      ],

    }),

    props: [
      "doesntmatter this isnt used lul"
    ],

    components: {
      // HelloWorld, 
      Dropdown,
      // StartButton
    },

    methods: {
      moveToQuestions() {
        // localStorage.setItem("start-confix", JSON.stringify({
        //   categoryID: this.categoryID
        // }))
        this.$router.push("/Questions");
      }
    }


  }
</script>

<style scoped>

  
  select {
    width:50%;
  }

  #play-button {
    font-size: 25px;
    border:none;
    width:100%;
    height:100%;
    color:white;
    font-size: 30px;
    background-color:transparent;
  }

  #play-button-box {
    display:flex;
  }

  .my-option-box {
    margin-top:30px; 
    border-radius: 10px;
  }
</style>