<template>
<div>
  <!-- @change="onSelectChanged($event)" -->
    <select class="my-option-box" @change="onSelectChanged($event)" v-model="selectedValue">
        <option default value="">{{selectText}}</option>
        <option v-for="item in options" :value="item" :key="item.id">
            {{item.name}}
        </option>
    </select>

</div>
</template>

<script>
export default {
    name: "Dropdown",
    
    data() {
      return {
        selectedValue:"",
        selectedCategory: "",
        selectedDifficulty: "",
        selectedNumber:""
      }
    },

    //props are passed to children only
    props: [
        "selectText",
        "options"
    ],

    methods: {

      // stores the information in localStorage
      onSelectChanged() {
        if (this.selectText == "Select a category") {
          console.log("SAVING CATEGORY");
            localStorage.setItem("selectedCategory", this.selectedValue.id)
          } else if (this.selectText == "Select a difficulty") {
            // easy - medium - hard
            let diff = "";
            if (this.selectedValue.id == 1) {
              diff = "easy";
            } else if (this.selectedValue.id == 2) {
              diff = "medium";
            } else { diff = "hard"}

            console.log("SAVING DIFFICULTY");
            localStorage.setItem("selectedDifficulty", diff)
          } else if (this.selectText == "Select number of questions"){
            console.log("SAVING NUMBER OF Qs");
            localStorage.setItem("selectedNumber", this.selectedValue.id)

          }
        }
    }
}
</script>

<style >
  .my-option-box {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 50%;
    font-size:30px;
    margin-left:25%;
    margin-right:25%;
    background: #4062bb;
    color:white;
    border-width: 2px;
    border-color: black;
    border-style:solid;
    border-radius:10px;
  }
</style>