<!-- Clickable answer-options -->
<template>
    <div>
      <div class="container">
        <div>
          
          <div class="my-option-box"  >
            <button @click="registerSelection(correctAnswer)" class="option-button" ><span v-html="correctAnswer"></span></button>
          </div>

          <div class="my-option-box"  >
            <button @click="registerSelection(incorrectAnswers[0])" class="option-button" ><span v-html="incorrectAnswers[0]"></span></button>
          </div>
        </div>

        <!-- show only if possible answers > 2 -->
        <div v-if="type =='multiple'">
          <div class="my-option-box"  >
          <button @click="registerSelection(incorrectAnswers[1])" class="option-button" ><span v-html="incorrectAnswers[1]"></span></button>
          </div>
          <div class="my-option-box">
            <button @click="registerSelection(incorrectAnswers[2])" class="option-button" ><span v-html="incorrectAnswers[2]"></span></button>
          </div>
        </div>
        
      </div>

    </div>
</template>

<script>

export default {

  data()  {
    return {
      
    }
  },

  props: {
    correctAnswer: String,
    incorrectAnswers: [],
    type: String
  },

  methods: {
    registerSelection(alternativeClicked){
      this.$emit( "alternative-clicked", alternativeClicked)
    }
  }
}
</script>



<style scoped>
  .my-option-box {
    height: 200px;
    width: 350px;
    font-size:30px;
    background: #4062bb;
    color:white;
    border-width: 2px;
    border-color: black;
    border-style:solid;
    border-radius:10px;
    margin:20px;
  }

  .option-button {
    font-size: 25px;
    border:none;
    width:100%;
    height:100%;
    color:white;
    font-size: 30px;
    background-color:transparent;
  }


</style>