<template >
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/Start">Start</router-link> |
      <router-link to="/Questions">Questions</router-link> |
      <router-link to="/Results">Results</router-link>
    </div>
    <router-view/>
    <footer id="myFooter">
      
    </footer>
  </div>
</template>

<script>
  
  export default {
    name: "App"

  }
</script>



 <!-- CSS  -->
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90vh;
}

#myFooter {
  width:100%;
  /* background-color:brown; */
  height:150px;
  position:absolute;
  clear: both;
  bottom:0px;
  align-content:center;
  background-image: url("assets/Svampebob-bukser.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}


</style>
